In [9]:
from pandas import DataFrame
df = DataFrame(
              [
                ['Aryan','Singh','Full-time','administration',2,2000],
                ['Rohan','Agarval','intern','technical',3,5000],
                ['Riya','Shah','Full-time','administration',5,10000],
                ['Yash','Bhatia','Part-time','technical',7,10000],
                ['Siddant','Khanna','Full-time','Management',6,20000],
              ]
            , columns=['FIRST NAME','LAST NAME','TYPE','DEPARTMENT','YOE','SALARY']
              )
df

  FIRST NAME LAST NAME       TYPE      DEPARTMENT  YOE  SALARY
0      Aryan     Singh  Full-time  administration    2    2000
1      Rohan   Agarval     intern       technical    3    5000
2       Riya      Shah  Full-time  administration    5   10000
3       Yash    Bhatia  Part-time       technical    7   10000
4    Siddant    Khanna  Full-time      Management    6   20000